@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');
body{
    background: linear-gradient(90deg,#00d2ff 0% ,#3a47d5 90%);
    color: #fff;
        
}

h1{
    font-size: 70px;
    text-align: center;
    margin-top: 10%;
    color:#fff;
    font-family: 'Montserrat';
    font-weight: 400;
}


div{
    margin-left: auto;
}
input{
    font-size:x-large;
    color: black;
    font-weight: bolder;
}
output{
    color: black;
    font-weight: bolder;
    font-size:x-large;
}
select{
    font-weight: bolder;
    font-size:x-large;
}

